.react-bootstrap-table table {
  table-layout: auto !important;
}
.selectedStyle {
  background-color: orange;
  color: #000;
}

.carousel-indicators {
  background: transparent !important;
}

.rounded-button {
  border-radius: 50% !important; /* This creates a circular shape */
  padding: 5px; /* Adjust the padding to your preference */
  width: 5px !important; /* Set the width of the button */
  height: 5px !important; /* Set the height of the button */
  font-size: 16px !important;
  /* Add any other styles you want for the button */
}

table {
  table-layout: auto !important;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px; /* Space between grid items */
}

.grid-item {
  border-bottom: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 0;
}
